{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>CraftersHub</title>

    {% include 'styles/css.html' %}
    <link
      rel="stylesheet"
      href="{% static
    'output/style.css' %}"
    />
  </head>
  <body class="bg-[#f7f7f7] min-h-screen font-sans">
    <header class="w-full static">
      <nav class="text-right space-x-5 p-4 flex justify-between items-center">
        <div>
          <input
            class="w-[150px] h-[30px] border-2 border-gray-400 rounded-md p-4"
            type="text"
            placeholder="Search Product"
            aria-placeholder="search product"
            style="text-align: center"
          />
          <button class="bg-teal-500 px-4 rounded-md shadow-xl text-gray-100">Search</button>
        </div>

        <div class="font-medium text-teal-400 space-x-5">
          <a>WishList</a>
          <a>Cart</a>
          <a>Account</a>
        </div>
      </nav>
      <nav
        class="text-left py-3 pl-16 space-x-5 text-slate-100 bg-teal-500 w-full"
      >
        <a>Hot Deals</a>
        <a>Home</a>
        <a>About</a>
        <a>Shop</a>
        <a>Vendors</a>
      </nav>
    </header>

    {% block content %} {% endblock %}

    <footer
      class="bg-teal-500 flex flex-row justify-center space-x-16 p-5 bottom-0 fixed inset-x-0 text-slate-100"
    >
      <div class="flex flex-col">
        <a>Disclaimer</a>
        <a>Pricvacy Policy</a>
        <a>Legal</a>
      </div>

      <div class="flex flex-col">
        <a>Home</a>
        <a>Shops</a>
        <a>Vendors</a>
        <a>About</a>
      </div>
    </footer>
  </body>
</html>
