{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>CraftersHub</title>

    {% include 'styles/css.html' %}
    <link
      rel="stylesheet"
      href="{% static
    'output/style.css' %}"
    />
  </head>
  <body class="bg-[#f7f7f7] min-h-screen font-sans">
    <header class="w-full static">
      <nav class="text-right space-x-5 p-4 flex justify-between items-center">
        <div>
          <input
            class="w-[150px] h-[30px] border-2 border-gray-400 rounded-md p-4"
            type="text"
            placeholder="Search Product"
            aria-placeholder="search product"
            style="text-align: center"
          />
          <button class="bg-teal-500 px-4 rounded-md shadow-xl text-gray-100">
            Search
          </button>
        </div>

        <div class="font-medium text-teal-400 space-x-5">
          <a>WishList</a>
          <a>Cart</a>
          <a href="{% url 'userauths:logout' %}">Logout</a>
        </div>
      </nav>
      <nav
        class="text-left py-3 pl-16 space-x-5 text-slate-100 bg-teal-500 w-full"
      >
        <a>Hot Deals</a>
        <a>Home</a>
        <a>About</a>
        <a>Shop</a>
        <a>Vendors</a>
      </nav>
      {% if messages %} {% for message in messages %}

      <div
        class="w-[calc(100vw-15px)] h-8  flex items-center my-2 ml-2 p-5  rounded-md bg-cyan-500/40  border-[1px] border-gray-700/40 {{message.tags}}"
      >
        {{message}}
      </div>

      {% endfor %} {% endif %}
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
