{% load static %} {% load custom_filter %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>CraftersHub</title>

    {% include 'styles/css.html' %}
    <link
      rel="stylesheet"
      href="{% static
    'output/style.css' %}"
    />
    <script src="{% static 'JQUERY/jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body class="bg-[#f7f7f7] min-h-screen font-sans">
    <header class="w-full static">
      <nav class="text-right space-x-5 p-4 flex justify-between items-center">
        <div>
          <form action="{% url 'core:search' %}" method="GET">
            <input
              class="w-[150px] h-[30px] border-2 border-gray-400 rounded-md p-4"
              type="text"
              placeholder="Search Product"
              aria-placeholder="search products"
              style="text-align: center"
              name="q"
            />
            <button
              class="bg-teal-500 px-4 rounded-md shadow-xl text-gray-100"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>

        <div class="font-medium text-teal-400 space-x-5">
          <a href="{% url 'core:cart' %}"
            >Cart
            <span
              class="bg-green-500 w-6 text-white rounded-full p-2 cart-items-count"
              >{{ request.session.cart_data_obj| length}}</span
            >
          </a>
          <a
            href="{% if user.is_authenticated %}{% if user.role == 'vendor' %}{% url 'userauths:profile' %}{% else %} {% url 'userauths:customer-profile' %}{% endif %}{% else %}{% url 'userauths:logout' %}{% endif %}"
            >Account</a
          >
          <a href="{% url 'userauths:logout' %}">Logout</a>
        </div>
      </nav>
      <nav
        class="text-left py-3 pl-16 space-x-5 text-slate-100 bg-teal-500 w-full font-medium"
      >
        <a
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Hot Deals
          </button></a
        >
        <a href="{% url 'core:index' %}"
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Home
          </button></a
        >
        <a href="{% url 'core:category-list' %}"
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Categories
          </button></a
        >
        <a
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Shop
          </button></a
        >
        <a href="{% url 'core:vendor-list' %}"
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Vendors
          </button></a
        >
      </nav>
      {% if messages %} {% for message in messages %}

      <div
        id="notify"
        class="w-[90%] h-8 flex items-center my-2 ml-2 p-5 rounded-md bg-cyan-500/40 border-[1px] border-gray-700/40 {{message.tags}}"
      >
        {{message}}
      </div>

      {% endfor %} {% endif %}
    </header>

    {% block content %} {% endblock %}
    
    <script src="{% static 'js/function.js' %}"></script>
  </body>
</html>
