<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CraftersHub</title>
    {% include 'styles/css.html' %}
    <link
      rel="stylesheet"
      href="{% static
    'output/style.css' %}"
    />
  </head>
  <body class="bg-[#f7f7f7] min-h-screen font-sans w-full">
    <header class="w-full">
      <nav
        class="flex justify-between items-center mr-10 p-5 text-teal-600 font-semibold"
      >
        <a>CraftersHub</a>
        <!--<div class="space-x-5">
          <a href="{% url "userauths:register" %}">SignUp</a>
        </div> -->
      </nav>
      {% if messages %} {% for message in messages %}

      <div
        id="notify"
        class="w-[90%] h-8 flex items-center my-2 ml-2 p-5 rounded-md bg-red-500/50 border-[1px] border-gray-700/40 {{message.tags}}"
      >
        {{message}}
      </div>

      {% endfor %} {% endif %}
    </header>
    {% block content%} {% endblock %}

    <script>
      // Get a reference to the div
      var myDiv = document.getElementById("notify");

      // Use setTimeout to hide the div after 2000 milliseconds (2 seconds)
      setTimeout(function () {
        myDiv.style.display = "none";
      }, 1000);
    </script>
  </body>
</html>
