{% extends "partials/base.html" %}{% load custom_filter %} {% block content %}

<main id="cart-list">
  <div class="container mx-auto py-10 text-gray-700">
    <h1 class="text-3xl font-bold mb-4">Shopping Cart</h1>
    <table class="w-3/4 border border-gray-300">
      <thead>
        <tr class="bg-green-500 text-gray-600">
          <th class="border border-gray-300 py-2 px-5"></th>
          <th class="border border-gray-300 px-5 py-2">Product</th>

          <th class="border border-gray-300 py-2 px-5">Price(Kshs)</th>
          <th class="border border-gray-300 py-2 px-5">Quantity</th>
          <th class="border border-gray-300 py-2 px-5">Sub Total(Kshs)</th>
          <th class="px-5">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for product_id, item in cart_data.items %}
        <tr class="text-center">
          <td class="border border-gray-300 px-5 py-2 flex justify-center">
            <img
              class="w-24 h-24 object-cover shadow-xl border-2 border-cyan-200/40 rounded-xl"
              src="{{ item.image }}"
              alt="#"
            />
          </td>
          <td class="border border-gray-300 py-1 px-5">{{ item.title }}</td>
          <td class="border border-gray-300 py-2 px-5">{{ item.price }}</td>
          <td class="border border-gray-300 py-2 px-5">{{ item.qty }}</td>
          <td class="border border-gray-300 py-2 px-5">
            {{ item.price|multiply:item.qty }}
          </td>
          <td>
            <button
              class="bg-green-500 text-white px-4 py-1 rounded delete-product"
              data-product="{{product_id}}"
            >
              Delete
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="mt-4 font-medium">Total Price: Ksh {{ cart_total_amount }}</p>
    <div class="my-10">
      <a
        href="{% url 'core:checkout' %}"
        class="bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600"
      >
        Checkout
      </a>
    </div>
  </div>
</main>

{% endblock %}
