{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>CraftersHub</title>

    {% include 'styles/css.html' %}
    <link
      rel="stylesheet"
      href="{% static
    'output/style.css' %}"
    />
  </head>
  <body class="bg-[#f7f7f7] min-h-screen font-sans">
    <header class="w-full static">
      <nav class="text-right space-x-5 p-4 flex justify-between items-center">
        <div>
          <form action="{% url 'core:search' %}" method="GET">
            <input
              class="w-[150px] h-[30px] border-2 border-gray-400 rounded-md p-4"
              type="text"
              placeholder="Search Product"
              aria-placeholder="search products"
              style="text-align: center"
              name="q"
            />
            <button
              class="bg-teal-500 px-4 rounded-md shadow-xl text-gray-100"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>

        <div class="font-medium text-teal-400 space-x-5">
          <a>WishList</a>
          <a>Cart</a>
          <!--<a href="{% url 'userauths:login' %}">Login</a>-->
          <a href="{% url 'userauths:register' %}">SignUp</a>
        </div>
      </nav>
      <nav
        class="text-left py-3 pl-16 space-x-5 text-slate-100 bg-teal-500 w-full font-medium"
      >
        <a
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Hot Deals
          </button></a
        >
        <a href="{% url 'core:home' %}"
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Home
          </button></a
        >
        <a href="#"
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Categories
          </button></a
        >
        <a
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Shop
          </button></a
        >
        <a href="#"
          ><button
            class="hover:text-yellow-400 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out"
          >
            Vendors
          </button></a
        >
      </nav>
      {% if messages %} {% for message in messages %}

      <div
        class="w-[90%] h-8 flex items-center my-2 ml-2 p-5 rounded-md bg-cyan-500/40 border-[1px] border-gray-700/40 {{message.tags}}"
      >
        {{message}}
      </div>

      {% endfor %} {% endif %}
    </header>
    <main>
      <section class="flex gap-10 pr-2">
        <nav class="bg-teal-500 text-gray-100 mt-5 w-52 p-5">
          <div class="flex flex-col space-y-5">
            <a href="#">Browse all Categories</a>
            <hr />
            <a href="{% url 'core:home' %}">Home</a>
            <hr />
            <a>About</a>
            <hr />
            <a>Shop</a>
            <hr />
            <a>Vendors</a>
          </div>
        </nav>

        <div class="bg-white w-full mt-5 rounded-lg">
          <h2
            class="bg-amber-600 p-3 rounded-t-md text-gray-100 font-semibold text-xl"
          >
            Popular Products
          </h2>

          <div class="grid grid-cols-3">
            {% for p in popular %}
            <div
              class="bg-gray-50 w-40 h-48 flex flex-col justify-center items-center my-5 mx-5 p-4 shadow-xl border rounded-lg text-gray-600"
            >
              <img class="w-24 h-24 object-cover" src="{{p.image.url}}" />
              <p class="text-center">{{p.title}}</p>
              <p>{{p.price}}</p>
            </div>

            {% endfor %}
          </div>
        </div>
      </section>

      <section class="mr-2">
        <div class="bg-white w-full mt-5 rounded-lg">
          <h2
            class="bg-teal-500 p-3 rounded-t-md text-gray-100 font-semibold text-xl"
          >
            All Products
          </h2>

          <div class="grid grid-cols-4">
            {% for f in products %}
            <div
              class="bg-gray-50 w-40 h-48 text-gray-600 flex flex-col justify-center items-center my-5 mx-5 p-4 shadow-xl border rounded-lg"
            >
              <img class="w-24 h-24 object-cover" src="{{f.image.url}}" />
              <p>{{f.title}}</p>
              <p>{{f.price}}</p>
            </div>

            {% endfor %}
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
