{% extends 'partials/base.html' %} {% block content %}

<main>
  <section class="flex gap-10">
    <nav class="bg-teal-500 text-gray-100 mt-10 w-52 p-5">
      <div class="flex flex-col space-y-5 justify-center items-start">
        <a>Hot Deals</a>
        <a>Home</a>
        <a>About</a>
        <a>Shop</a>
        <a>Vendors</a>
      </div>
    </nav>
    <div>
      {% for p in Product %}
      <div
        class="bg-gray-50 w-40 h-40 flex justify-center mt-10 shadow-xl border rounded-lg"
      >
        <p>{{p.title}}</p>
        <img class="w-24 h-24 object-cover mt-10" src="{{p.image.url}}" />
      </div>
      {% endfor %}
    </div>
  </section>
</main>

{% endblock %}
