{% extends "partials/base.html" %} {% block content %}

<main class="my-10 mx-5 text-gray-500">
  <div class="w-auto h-auto p-5 flex space-x-6">
    <figure
      class="w-64 h-64 flex justify-between items-center shadow-xl rounded-md"
    >
      <img
        class="w-60 h-60 mx-5 object-cover product-image"
        src="{{product.image.url}}"
      />
    </figure>
    <div class="flex flex-col space-y-5">
      <p class="text-3xl">{{product.title}}</p>
      <p class="text-2xl text-emerald-500 product-price">{{product.price}}</p>

      <input
        type="hidden"
        class="product-pid"
        value="{{product.pid}}"
        name=""
        id=""
      />
      <input
        type="hidden"
        class="product-title"
        value="{{product.title}}"
        name=""
        id=""
      />
      <input
        id="product-quantity"
        class="border-2 border-gray-400 p-3 w-28"
        type="number"
        value="1"
        min="1"
        placeholder="Quantity"
      />
      <button
        type="submit"
        class="w-28 h-12 p-1 bg-green-600 text-white rounded-md"
        id="add-to-cart-btn"
      >
        <i class="fi-rs-shopping-cart"></i>
        Add to Cart
      </button>
    </div>
  </div>

  <section class="flex">
    <div class="container w-2/3 mt-5 p-5 border border-gray-400">
      <div class="flex gap-10">
        <button
          class="border border-gray-400 px-2 py-1 rounded-xl font-medium"
          id="descriptionBtn"
        >
          Description
        </button>
        <button
          class="border border-gray-400 px-2 py-1 rounded-xl font-medium"
          id="specificationBtn"
        >
          Specification
        </button>
        <button
          class="border border-gray-400 px-2 py-1 rounded-xl font-medium"
          id="reviewsBtn"
        >
          Reviews ({{reviews.count}})
        </button>
      </div>
      <div class="mt-2 ml-5">
        <div id="description">
          <p>{{product.description}}</p>
        </div>
        <div id="specification" class="hidden">
          <p>{{product.specifications}}.</p>
        </div>

        <div id="reviews" class="hidden">
          {% for r in reviews %}
          <div class="pb-5">
            <a class="text-green-500 font-semibold py-2"
              >{{r.user.username|title}} |<span class="text-black font-light">
                {{r.date|date}}</span
              ></a
            >
            <div class="w-[500px]">
              <hr />
            </div>
            <p>{{r.review}}</p>
          </div>
          {% endfor %}
          <div>
            <strong class="text-green-600 italic" id="review-res"></strong>
            <form
              class="flex flex-col comment-form hide-comment-form"
              id="CommentForm"
              method="POST"
              action="{% url 'core:ajax-add-review' product.pid %}"
            >
              <h6>Add Review</h6>

              {% csrf_token %} {{review_form}}
              <button type="submit" class="bg-green-600">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 pl-2 w-auto font-medium text-black">
      <h2>Average Star Rating</h2>

      <p>
        <span class="px-2 text-yellow-500">★★★★★</span
        >{{average_rating.rating|floatformat}} of 5
      </p>
    </div>
  </section>
</main>
{% endblock %}
