{% extends "partials/base.html" %} {% block content %}

<main class="my-10 mx-5 text-gray-500">
  <div class="w-auto h-auto p-5 flex space-x-6">
    <figure
      class="w-64 h-64 flex justify-between items-center shadow-xl rounded-md"
    >
      <img class="w-56 h-56 mx-5" src="{{product.image.url}}" />
    </figure>
    <div class="flex flex-col space-y-5">
      <p class="text-3xl">{{product.title}}</p>
      <p class="text-2xl text-emerald-500">Ksh {{product.price}}</p>
      <input
        type="hidden"
        class="product-id"
        value="{{product.id}}"
        name=""
        id=""
      />
      <input
        type="hidden"
        class="product-title"
        value="{{product.title}}"
        name=""
        id=""
      />
      <input
        class="border-2 border-gray-400 p-3 w-28"
        type="number"
        value="1"
        min="1"
        placeholder="Quantity"
      />
      <button
        type="submit"
        class="w-28 h-12 p-1 bg-green-600 text-white rounded-md"
        id="add-to-cart-btn"
      >
        <i class="fi-rs-shopping-cart"></i>
        Add to Cart
      </button>
    </div>
  </div>

  <section class="mt-5">
    <div>
      <h2>descroption</h2>
    </div>
  </section>
</main>
{% endblock %}
