{% extends "partials/pre.html" %}{% block content %}

<section
  class="flex flex-col items-center bg-gradient-to-tr from-teal-400 to-violet-600/70 p-5 border-1 w-full h-full text-gray-700"
>
  <div class="text-center p-5 text-gray-100">
    <h2 class="text-bold text-2xl">Welcome to CraftersHub Online Retail</h2>
  </div>

  <!--------------Sign Up Form----------------->

  <div class="w-auto h-auto bg-slate-100 rounded-lg py-5">
    <h3 class="text-center text-teal-500 font-semibold text-xl p-2">
      CraftersHub Online Retail
    </h3>
    <p class="italic px-3">
      If you have an existing account click
      <a href="{% url 'userauths:login' %}" class="underline text-blue-600"
        >here</a
      >
      to Login
    </p>
    <div class="p-2 ml-3 flex justify-start">
      <div>
        {% if form.errors %}

        <div class="w-[250px] p-2 rounded-md bg-red-300">
          <strong>{{form.errors}}</strong>
        </div>

        {% endif %}
        <h4 class="text-teal-500 font-semibold text-xl">Create Account</h4>

        <form method="POST" class="flex flex-col space-y-6">
          {% csrf_token %}
          <div class="shadow-sm">
            <p>Register as:</p>
            {{form.role}}
          </div>
          <div class="shadow-sm">{{form.username}}</div>

          <div class="shadow-sm">{{form.email}}</div>

          <div class="shadow-sm">{{form.password1}}</div>

          <div class="shadow-sm">{{form.password2}}</div>

          <button
            class="bg-teal-500 w-32 p-2 rounded-lg font-medium text-gray-100"
            type="submit"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>

  <!--<div
    class="w-52 h-52 rounded-full bg-blue-500 flex justify-center items-center z-0"
  >
    <div
      class="w-44 h-44 rounded-full bg-green-500 flex justify-center items-center"
    >
      <div class="w-36 h-36 rounded-full bg-violet-600"></div>
    </div>
  </div> -->
</section>
{% endblock %}
