{% extends "partials/pre.html" %}{% block content %}

<section
  class="flex flex-col items-center bg-gradient-to-tr from-teal-400 to-violet-600/70 p-5 border-1 w-full h-[100vh] text-gray-700"
>
  <div class="text-center p-5 text-gray-100">
    <h2 class="text-bold text-2xl">Welcome to CraftersHub Online Retail</h2>
  </div>

  <!--------------Sign Up Form----------------->

  <div class="w-auto h-auto bg-slate-100 rounded-lg py-5">
    <h3 class="text-center text-teal-500 font-semibold text-xl p-2">
      CraftersHub Online Retail
    </h3>
    <p class="italic px-3">
      If you have an existing account click here to
      <a href="{% url 'userauths:login' %}" class="underline text-blue-600"
        >Login</a
      >
    </p>
    <div class="p-5 flex justify-center">
      <div>
        <h4 class="text-teal-500 font-semibold text-xl">SignUp</h4>

        <form class="flex flex-col space-y-6 p-5">
          <div>{{form.username}}</div>

          <div>{{form.email}}</div>

          <div>{{form.password1}}</div>

          <div>{{form.password2}}</div>
        </form>
      </div>
    </div>
  </div>

  <!--<div
    class="w-52 h-52 rounded-full bg-blue-500 flex justify-center items-center z-0"
  >
    <div
      class="w-44 h-44 rounded-full bg-green-500 flex justify-center items-center"
    >
      <div class="w-36 h-36 rounded-full bg-violet-600"></div>
    </div>
  </div> -->
</section>
{% endblock %}
